/*/log/
/workplace/

/*/*.hlp
/*/*.HLP
/*/*.hlg
/*/*.cnt
/*/*.rlg
/*/*.GID
/*/*.rtf
/*/*.log

/*/*.aux
/*/*.ids
/*/*.idx
/*/*.ilg
/*/*.ind
/*/*.toc
/*/*.out

/*/*.html
/*/*.xml

/EclipseSDKUpdate/update_site
/*/help_plugin/
/*/eclipse/

/*/workplace/*.hlp
/*/workplace/*.HLP
/*/workplace/*.cnt
/*/workplace/*.jar
/*/workplace/*.zip
