/*/log/
/workplace/

/*/*.hlp
/*/*.HLP
/*/*.hlg
/*/*.cnt
/*/*.rlg
/*/*.GID
/*/*.rtf
/*/*.log

/*/*.aux
/*/*.ids
/*/*.idx
/*/*.ilg
/*/*.ind
/*/*.toc
/*/*.out

/*/*.html
/*/*.xml

/*/*.chm
/*/*.clg
/*/*.hha
/*/*.hhc
/*/*.php
/*/*.pdf

/*/workplace/*.hlp
/*/workplace/*.HLP
/*/workplace/*.cnt
/*/workplace/*.jar
/*/workplace/*.zip

!/Common/*.*
