/.workspace/
/XDS/

/Build/log/*
/Build/XDS-x86/

/Sources/*/.project
/Sources/*/.settings/

/Sources/*/ch/
/Sources/*/log/
/Sources/*/sym/
/Sources/*/Tmp/

/Sources/*/workplace/*.exe
/Sources/*/workplace/*.dll
/Sources/*/workplace/*.lib
/Sources/*/workplace/*.pdb
/Sources/*/workplace/*.ilk