/XDS/

/*/reports*/
/*/tmp/

/*/*.log
/*/*.mkf
/*/*.lnk

/bin/ctr_utils/rep_count.txt

/bin/ctr_utils/stats/.project
/bin/ctr_utils/stats/*.lnk
/bin/ctr_utils/stats/bin/
/bin/ctr_utils/stats/.settings/
/bin/ctr_utils/stats/.externals/

.testing.bsc